@import "mixin";
@import "variables";

.article-page {
  background: #ffffff;
  padding: 0 $page-padding;


  .title {
    padding-top: 15px;
    font-weight: 800;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 1px;
    color: #333333;
    line-height: 34px;
    @include multi-line(2)

  }

  .au-pv {
    margin-top: 15px;

    span {
      padding-left: 5px;
    }
  }

  .intro {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: justify;
    color: #333333;
    letter-spacing: 1px;
    @include multi-line(6)
  }

  .article-img {
    margin-top: 17px;
    width: calc(100vw - (#{$page-padding} * 2));
    height: calc(100vw - (#{$page-padding} * 2));
  }

  .content {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    line-height: 24px;
    letter-spacing: 1px;
    color: #333333;
  }

  .favor {
    position: fixed;
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 50%;
    text-align: center;
    bottom: 50px;
    right: 20px;

    img {
      margin-top: 12px;
      width: 20px;
      height: 20px;
    }

    .collect {
      padding-top: 5px;
      text-align: center;

    }

  }
}