@import "./ant-theme-vars.less";

$primary-color: #009aa8;

$tcblue: #2F9BE9;
$green: #12B23A;
$red: #FF3A33;
$gold:#AE640B;

$bg-white: #FFFFFF;
$bg-grey: #F6F6F6;

$line-grey: #E5E5E5;

$orange: #FF9900;
$pirce-free: #12B23A;

$font-default: #4d4948;
$font-dark: #808080;
$font-light: #CCCCCC;
$font-gray: #999999;
$price-black: #333;



$font-default: #4d4d4d;
$font-dark: #808080;
$font-light: #ccc;