@import "color";
@import "mixin";
@import "variables";

.trades-page {

  .common-tab {
    background: #ffffff;
  }

  .trade-list {
    margin-top: 10px;
    padding: 0 $page-padding;

    .trade-detail {
      background: #ffffff;

      .title-bar {
        height: 30px;
        padding: 0 15px;
        display: flex;

        .merchant-logo {
          flex: 0 0 20px;
          margin: 5px 10px 5px 0;
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }

        .merchant-name {
          height: 30px;
          font-size: 14px;
          max-width: 200px;
          font-family: PingFangSC, PingFangSC-Regular;
          font-weight: 400;
          text-align: left;
          color: #4a4a4a;
          line-height: 30px;
          letter-spacing: 1px;
          -webkit-line-clamp: 1;
          text-overflow: ellipsis;
          word-break: break-all;
          overflow: hidden;
          display: -webkit-box;
          white-space: normal !important;
          -webkit-box-orient: vertical;
          @include border-arrow( #4a4a4a, 11px,  7px, 6px)

        }

        .trade-type {
          align-items: flex-end;
          font-size: 15px;
          height: 30px;
          font-family: PingFangSC, PingFangSC-Regular;
          font-weight: 400;
          text-align: left;
          line-height: 30px;
          letter-spacing: -1px;
          color: $primary-color;
          align-items: flex-end;
          margin-left: auto;
        }

        .comp {
          color: #7A7A7A;
        }

      }

      .product-detail {
        height: 80px;
        padding: 10px 15px;

        .inner {
          height: 60px;
          display: flex;

          .left {
            flex: 0 0 60px;
            width: 60px;
            height: 60px;
            border: 1px solid #efefef;
            border-radius: 4px;
          }

          .mid {
            flex: 1;
            padding: 0 7px;

            .title {
              height: 40px;
              font-size: 13px;
              font-family: PingFangSC, PingFangSC-Regular;
              font-weight: 400;
              text-align: justify;
              color: #4a4a4a;
              line-height: 20px;
              @include multi-line()
            }

            .param {
              height: 20px;

              .label {
                height: 20px;
                font-size: 12px;
                font-weight: 400;
                text-align: left;
                color: #9a9a9a;
                line-height: 20px;
              }

              .value {
                height: 20px;
                font-size: 12px;
                font-weight: 400;
                text-align: left;
                color: #9a9a9a;
                line-height: 20px;
                margin-right: 15px;
              }
            }

          }

          .right {
            flex: 0 0 80px;
            display: grid;
            grid-template-rows: 40px 20px;
            justify-items: center;
            align-items: center;

            .price {
              height: 18px;
              font-size: 12px;
              font-family: PingFangSC, PingFangSC-Medium;
              font-weight: 500;
              text-align: justify;
              color: #4a4a4a;
              line-height: 18px;
            }

            .buy-num {
              height: 18px;
              font-size: 12px;
              font-family: PingFangSC, PingFangSC-Regular;
              font-weight: 400;
              text-align: justify;
              color: #9a9a9a;
              line-height: 18px;
            }
          }
        }
      }

      .btns {
        height: 40px;
        padding: 5px 15px;
        line-height: 30px;
        display: flex;
        justify-content: flex-end;

        .btn {
          width: 80px;
          position: relative;
          border-radius: 20px;
          text-align: center;
          margin-left: 10px;

          &:after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: -40px;
            width: 160px;
            height: 60px;
            border: 1px solid #9A9A9A;
            transform: scale(0.5, 0.5);
            border-radius: 40px;
          }

        }

        .comment {
          color: $primary-color;

          &:after {
            border: 1px solid $primary-color;
          }
        }


        .price {
          color: $primary-color;

          &:after {
            border: 1px solid $primary-color;

          }
        }
      }


    }


  }

  .trade-empty {
    width: 100%;
    height: 80vh;
    text-align: center;
    position: fixed;
    padding-top: 150px;

    .empty-icon {
      background: url("../../assets/image/common/icon_trade_empty.png") center no-repeat;
      background-size: contain;
      width: 240px;
      height: 240px;
      display: inline-block;
    }

    p {
      font-size: 16px;
      color: $price-black;
      line-height: 16px;
      margin-top: 15px;
    }
  }
}
